global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
  external_labels:
    monitor: hummingbird-monitor

rule_files:
  - 'alert.rules'

scrape_configs:
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
      - targets:
          - localhost:9090

  - job_name: proxy
    metrics_path: /haio/metrics
    static_configs:
      - targets:
          - haio:8080

  - job_name: account1
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6012
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_account_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_account_${1}'

  - job_name: account2
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6022
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_account_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_account_${1}'

  - job_name: account3
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6032
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_account_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_account_${1}'

  - job_name: account4
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6042
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_account_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_account_${1}'

  - job_name: container1
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6011
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_container_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_container_${1}'

  - job_name: container2
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6021
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_container_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_container_${1}'

  - job_name: container3
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6031
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_container_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_container_${1}'

  - job_name: container4
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6041
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_container_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_container_${1}'

  - job_name: object1
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6010
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_object_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_object_${1}'

  - job_name: object2
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6020
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_object_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_object_${1}'

  - job_name: object3
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6030
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_object_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_object_${1}'

  - job_name: object4
    metrics_path: /metrics
    static_configs:
      - targets:
          - haio:6040
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'hb_object_\d+_\d+_\d+_\d+_\d+_(.*)'
        target_label: __name__
        replacement: 'hb_object_${1}'
